.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: rgb(255, 249, 229);
}

input {
  height: 30px;
  width: 250px;
  border: none;
  border-bottom: 1px solid black;
  background: none;
  color: black;
  padding: 0 10px;
  outline: none;
}

.enter-btn {
  height: 30px;
  width: 100px;
  font-size: 12px;
  background: none;
  border: 1px solid black;
  color: black;
  margin-left: 10px;
  transition: .1s ease-in;
}

.enter-btn:hover {
  color: rgb(255, 249, 229);
  background: black;
  cursor: pointer;
}

.todo__item {
  position: absolute;
  cursor: move;
  min-width: 215px;
  color: black;
  padding: 1em;
  border-radius: 5px;
}

.delete-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  background: none;
  border: none;
}

.delete-btn:hover {
  cursor: pointer;
}